.header {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: white;
  height: 80px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Shrikhand", cursive;
}

.back-button-arrow {
  position: absolute;
  left: 40px;
  font-size: 30px;
}

footer {
  background-color: #3a3939;
}

.footer-card {
  padding: 30px 40px;
  max-width: 1400px;
  color: white;
}
.footer-card .footer-text {
  color: white;
}
.footer-card .footer-logo {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  width: 100%;
  padding: 0 0 10px 0;
}
.footer-card .footer-icons-modification {
  width: 15px;
  margin: 0 10px 0 0;
}
.footer-card .footer-link {
  padding: 5px 0 0 0;
}

@media screen and (min-width: 1200px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
.button-gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: linear-gradient(180deg, #ff79da 10%, #9356dc 100%);
  color: white;
  width: 220px;
  height: 50px;
}

.menu-restaurant-img img {
  width: 100%;
  height: 450px;
  top: -100px;
  position: relative;
  z-index: -1;
}

.menu .menu-general {
  background-color: #f3f1f1;
  padding: 0 20px;
  border-radius: 30px 30px 0 0;
  margin-top: -150px;
  max-width: 2000px;
}
.menu .menu-header {
  display: flex;
  justify-content: space-between;
}
.menu .menu-heart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .title-restaurant-menu {
  font-family: "Shrikhand", cursive;
}
.menu .menu-title h3 {
  font-weight: 400;
  position: relative;
}
.menu .menu-title h3::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background: #99e2d0;
  left: 0;
  bottom: -8px;
}
.menu .menu-card {
  background-color: white;
  border-radius: 15px;
  margin: 15px 10px;
  padding: 20px;
  box-shadow: 0 5px 5px 0 rgba(214, 214, 214, 0.596);
  display: flex;
  justify-content: space-between;
}
.menu p {
  margin: 0;
  font-weight: 600;
}
.menu .menu-text {
  display: flex;
  flex-direction: column;
}
.menu .text-card-menu {
  font-weight: 400;
}
.menu .price-card-menu {
  display: flex;
  align-items: flex-end;
}
.menu .menu-all-blocks {
  margin: 30px 0;
}
.menu .button-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

@media screen and (min-width: 1200px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-general {
    width: 95%;
  }

  .menu-all-blocks {
    display: flex;
    justify-content: space-evenly;
  }

  .menu-blocks {
    display: flex;
    flex-direction: column;
    width: 33%;
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  background: #f3f1f1;
}

a {
  text-decoration: none;
  color: black;
}

img {
  object-fit: cover;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ece9e9;
}
.location .location-icon {
  color: black;
  margin-right: 15px;
}

.explore {
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore .explore-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  text-align: center;
}
.explore .explore-title {
  max-width: 250px;
  margin: 0;
}

.process {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 50px 0;
  background: #faf9f9;
}
.process .process-container {
  max-width: 1400px;
  margin: 0 20px;
}
.process .process-all-steps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.process .process-step {
  display: flex;
  position: relative;
  width: 100%;
  height: 60px;
  border-radius: 20px;
  background-color: #f3f1f1;
  align-items: center;
  margin: 10px 0;
  box-shadow: 0 5px 5px 0 rgba(214, 214, 214, 0.596);
}
.process .process-number {
  position: absolute;
  left: -10px;
  background: #9356dc;
  color: white;
  padding: 3px 8px 3px 8px;
  border-radius: 20px;
}
.process .process-icons {
  margin: 0 30px;
  color: grey;
}
.process .process-step-color-difference {
  background: rgba(147, 86, 220, 0.1);
}
.process .fa-store {
  color: #9356dc;
}

.restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.restaurants .restaurant-title {
  margin: 50px 0 0 0;
}
.restaurants .restaurant-container {
  width: 90%;
  max-width: 1400px;
}

.fa-heart {
  font-size: 25px;
}

.restaurant-all-cards {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.restaurant-all-cards .restaurant-card {
  position: relative;
  margin: 0;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 5px 5px 0 gray;
  margin: 10px;
}
.restaurant-all-cards .restaurant-card-img {
  width: 100%;
  height: 180px;
}
.restaurant-all-cards .restaurant-text-new {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  background: #99e2d0;
  top: 20px;
  right: 20px;
}
.restaurant-all-cards .restaurant-text-new p {
  color: #278870;
}
.restaurant-all-cards .restaurant-card-img > img {
  width: 100%;
  height: 100%;
  border-radius: 30px 30px 0 0;
}
.restaurant-all-cards .restaurant-card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  height: 90px;
}
.restaurant-all-cards .card-name {
  margin: 0;
}
.restaurant-all-cards .card-city {
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .process .process-container {
    width: 90%;
  }
  .process .process-all-steps {
    width: 100%;
  }
  .process .process-step {
    width: 320px;
  }

  .restaurant-all-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .restaurant-card {
    max-width: 450px;
  }
}

/*# sourceMappingURL=style.css.map */
