.menu-restaurant-img img {
  width: 100%;
  height: 450px;
  top: -100px;
  position: relative;
  z-index: -1;
}
.menu {
  .menu-general {
    background-color: $color-background;
    padding: 0 20px;
    border-radius: 30px 30px 0 0;
    margin-top: -150px;
    max-width: 2000px;
  }
  .menu-header {
    @include flexBetween;
  }
  .menu-heart {
    @include flexCenter;
    position: relative;
    top: 25px;
    right: 20px;
    width: 25px;
    height: 25px;
  }
  .title-restaurant-menu {
    @include fontlogo;
  }
  .menu-title h3 {
    font-weight: 400;
    position: relative;
  }
  .menu-title h3::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background: $color-tertiary;
    left: 0;
    bottom: -8px;
  }
  .menu-card {
    height: 78px;
    background-color: white;
    border-radius: 15px;
    margin: 15px 10px;
    @include shadow;
    @include flexCenter;
    @include flexBetween;
  }
  p {
    margin: 0;
    font-weight: 600;
  }
  .menu-text {
    @include flexColumn;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
    max-height: 38px;
  }
  .title-card-menu {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .text-card-menu {
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .check-icon-container {
    @include flexCenter;
    display: none;
    position: absolute;
    padding-left: 5px;
    right: 0;
    top: 0;
    width: 80px;
    border-radius: 0 15px 15px 0;
    height: 100%;
    background: $color-tertiary;
    color: white;
  }
  .fa-circle-check {
    font-size: 30px;
  }
  .price-card-menu {
    display: flex;
    align-items: flex-end;
    width: 30px;
    height: 38px;
    padding: 20px;
  }
  .menu-all-blocks {
    margin: 30px 0;
  }
  .button-menu-container {
    @include flexCenter;
    margin: 50px 0;
  }
}
.menu-heart {
  .fa-heart {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    @include flexCenterColumn;
  }
  .menu-general {
    width: 95%;
  }
  .menu-all-blocks {
    display: flex;
    justify-content: space-evenly;
  }
  .menu-blocks {
    @include flexColumn;
    width: 33%;
  }
}
